*
!.coveragerc
!.dockerfiles/
!.gitattributes
!.gitignore
!.travis-compose.yml
!.travis-testing.ini
!.travis.yml
!Dockerfile
!LICENSE.txt
!MANIFEST.in
!README.rst
!cnxarchive/
!development.ini
!docker-compose.yml
!docs/
!setup.cfg
!setup.py
!versioneer.py
