version: "2"
services:
  archive:
    build: .
    environment:
      - DB_USER=cnxarchive
      - DB_NAME=cnxarchive-testing
      - DB_HOST=db
      - MEMCACHE_SERVERS=memcached
    ports:
      - "6543:6543"
    links:
      - db
      - memcached
  db:
    build: https://github.com/Connexions/cnx-db.git#weighted_search
    ports:
      - "5433:5432"
    environment:
      - "DB_USER=cnxarchive"
      - "POSTGRES_DB=cnxarchive-testing"
      - "DB_URL=postgresql://cnxarchive@localhost/cnxarchive-testing"
      - "DB_SUPER_URL=postgresql://postgres@localhost/cnxarchive-testing"
  memcached:
    image: memcached:1.5
    ports:
      - "11211"
