<!doctype html>
<html id="feedHandler">
  <head>
    <title>OpenStax-CNX: Recently Added Or Revised Content</title>
    <link rel="stylesheet" href="chrome://browser/skin/feeds/subscribe.css" type="text/css" media="all" />
    <script type="application/javascript" src="chrome://browser/content/feeds/subscribe.js"></script>
  </head>
  <body onload="SubscribeHandler.writeContent();" onunload="SubscribeHandler.uninit();">
    <div xmlns="http://www.w3.org/1999/xhtml" id="feedHeaderContainer">
      <div id="feedHeader" dir="ltr" class="feedBackground">
        <div id="feedIntroText">
          <p id="feedSubscriptionInfo1"></p>
          <p id="feedSubscriptionInfo2"></p>
        </div>
        <div id="feedSubscribeLine">
          <label id="subscribeUsingDescription">Subscribe to this feed using
            <select id="handlersMenuList">
              <option id="liveBookmarksMenuItem" selected="true">Live Bookmarks</option>
              <option disabled="true">━━━━━━━</option>
            <option id="selectedAppMenuItem" handlerType="client" style="display: none;"></option><option id="defaultHandlerMenuItem" handlerType="client" style="display: none;"></option><option id="chooseApplicationMenuItem">Choose Application…</option><option disabled="true">━━━━━━━</option><option id="liveBookmarksMenuItem" class="menuitem-iconic" handlerType="web" webhandlerurl="https://add.my.yahoo.com/rss?url=%s">My Yahoo!</option></select>
          </label>
          <label id="checkboxText">
            <input type="checkbox" id="alwaysUse" class="alwaysUse" />Always use Live Bookmarks to subscribe to feeds.</label>
          <button id="subscribeButton">Subscribe Now</button>
        </div>
      </div>
      <div id="feedHeaderContainerSpacer"></div>
    </div>
    <div id="feedBody">
      <div id="feedTitle">
        <a id="feedTitleLink"></a>
        <div id="feedTitleContainer">
          <h1 id="feedTitleText">OpenStax-CNX: Recently Added Or Revised Content</h1>
          <h2 id="feedSubtitleText">OpenStax CNX</h2>
        </div>
      </div>
      {% block entries %}
      {% endblock %}
    </div>
  </body>
</html>
